/*** For Testing Purposes ***/

#new_Info {
  z-index: 10;
  position: absolute;
  left: 50vw;
  top: 50vh;
}

/*** CSS Presets for all webpages ***/

html, body { 
  font-family: 'Times New Roman', sans-serif;
  font-size: 20px;
  margin:0;
  padding:0;
  color: black;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*** This Modules Background Decoration ***/
body #MATH5003{
  background-color: rgba(66, 33, 99, 0.2);
}

/*** Module Navigation Bar Decoration ***/
#module_Choice ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
}

#module_Choice li {
  text-align: center;
  float: left;
  border: 1px solid white;
}

#module_Choice li a {
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  padding: 10px 50px;
  color: white;
  font-size: 30px;
}

#module_Choice li a:hover {
  color: black;
  background-color: white;
}

#module_Choice li:nth-child(1) {
  background-color: rebeccapurple;
}

#module_Choice li:nth-child(2) {
  background-color: yellow;
}

#module_Choice li:nth-child(3) {
  background-color: red;
}

#module_Choice li:nth-child(4) {
  background-color: blue;
}

#module_Choice li:nth-child(5) {
  background-color: green;
}

#module_Choice li:nth-child(6) {
  background-color: cyan;
}

/*** Header Decoration ***/

header {
  text-align: center;
  background: rebeccapurple;
  padding: 5px;
  margin-top: 54px;
  text-transform: uppercase;
  color: white;
}

h1 {
  font-size: 80px;
  margin: 10px 0 10px 0;
  letter-spacing: 4px;
  text-shadow: 5px 0 5px black;
}

h4 {
  font-size: 25px;
  letter-spacing: 1px;
  margin: 10px;
  text-shadow: 3px 0 3px black;
}

#more_Head {
  margin-top: 30px;
  margin-bottom: 27px
}

/*** Within Module Naviation Bar Decoration ***/

.within_Module_Math5003 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: #333;
    z-index: 1;
}

.within_Module_Math5003 li {
    position: relative;
    left: 425px;
    float: left;
    text-align: center;
}

.within_Module_Math5003 li a, .dropdown_Button {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
}

.within_Module_Math5003 li a:hover, .dropdown:hover {
    background-color: gray;
}

li.dropdown {
  display: inline-block;
}

.dropdown_Content {
  display: none;
  position: fixed;
  z-index: 1;
}

.dropdown_Content a {
  padding: 0;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown_Content {
  display: block;
}

/*** Home page paragraph decorations ***/

#para_Homepage_MATH5003 {
  position: fixed;
  background-color: rgba(66, 33, 99, 0.5);
  color: white;
  top: 30vh;
  left: 15vw;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  
}

/*** Introductory page decorations ***/

.para_Introductory_Learning_Page {
  position: fixed;
  top: 300px;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 24px;
}

.introductory_Learning_Page {
  position: fixed;
  list-style-type: none;
  font-size: 30px;
  top: 50vh;
  left: -40px;
  border: solid 1px rebeccapurple;
  text-align: center;
  background-color: rgba(66, 33, 99, 0.2);
  width: 100%;
}

.introductory_Learning_Page li a {
  color: blue;
  font-weight: 500;
  line-height: 40px;
}

.introductory_Learning_Page li a:hover {
  background-color: orange;
  color: white;
}

/*** Footer decoration ***/

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 15px;
  background-color: black;
  color: white;
}

/*** Vertical Nav bar decoration ***/

.stats_Workshop_Vertical_Navbar {
  position: fixed;
  top: 250px;
  left :0;
}

.stats_Workshop_Vertical_Navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
}

.stats_Workshop_Vertical_Navbar li {
  margin-bottom: 25px;
  padding-left: 25px;
}

.stats_Workshop_Vertical_Navbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: underline;
  font-size: 30px;
  color: rebeccapurple;
}

.stats_Workshop_Vertical_Navbar li a:hover {
  color: orange;
}

/*** Orange Dividing Line Decoration ***/

#workspace_Orange_Background {
  position: fixed;
  left: 400px;
  top: 235px;
  height: 710px;
  width: 1520px;
  background-color: rgba(255, 127, 80, 0.2);
  border-left: solid orange 1px;
  border-top: solid darkorange 3px;
  z-index: -1;
}

/*** Next Button Decoration ***/

.next {
  position: absolute;
  right: 10px;
  bottom: 40px;
  background-color: rebeccapurple;
  border: none;
  color: orange;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  transition: padding 1s;
  z-index: 1;
}

#endOfModule {
  height: 50px;
  width: 78vw;
}

.next:hover {
  padding: 10px 50px;
}

/*** Topic Title Decorations ***/

.topic_Title {
  position: fixed;
  top: 225px;
  left: 425px;
  font-size: 50px;
  text-shadow: 0 1px rebeccapurple;
}

/*** Video Placement ***/

iframe {
  position:absolute;
  top:11vh;
  left:10vw;
  border:none;
}

/*** Quiz Placement ***/

#quiz_Space {
  position: absolute;
  top: 35vh;
  left: 22vw;
  height: 58vh;
  width: 70vw;
  border: 1px black solid;
  background-color: white;
  padding: 10px 20px;
}

#explain_Space {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 58vh;
  width: 70vw;
  border: 1px black solid;
  background-color: white;
  padding: 10px 20px;
}

#multi {
  position: absolute;
  right: 10vw;
  height: 250px;
}

#submitButton {
  width: 150px;
}

td {
  border: 2px black solid;
  padding: 20px 40px;
}

button {
  height: 20px;
  width: 20px;
}

/*** Terminology page ***/
.termimgs {
  height: 25px;
  width: 25px;
}